<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title mb-0">Collections</h5>
    </div>
    <div class="card-body">
      <ul class="list-unstyled mb-0">
        <% @collections.each do |collection| %>
          <li><%= collection.title %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
