<%#
# Navigation

This partial is used to display the navigation in Administrate.
By default, the navigation contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>

<nav class="navigation">
  <div class="p-3 border-bottom">
    <h5 class="text-white mb-0">TAPAS Admin</h5>
  </div>

  <% if defined?(root_url) %>
    <%= link_to(root_url, class: "navigation__link") do %>
      <span class="navigation__link__text">← Back to App</span>
    <% end %>
  <% end %>

  <div class="mt-3"></div>

  <% allowed_resources = ['collections', 'core_files', 'projects', 'users'] %>
  <% Administrate::Namespace.new(namespace).resources_with_index_route.each do |resource| %>
    <% if allowed_resources.include?(resource.to_s) && accessible_action?(model_from_resource(resource), :index) %>
      <%= link_to(
        resource_index_route(resource),
        class: "navigation__link navigation__link--#{nav_link_state(resource)}"
      ) do %>
        <span class="navigation__link__text"><%= display_resource_name(resource) %></span>
      <% end %>
    <% end %>
  <% end %>
</nav>
