<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title mb-0">Projects</h5>
    </div>
    <div class="card-body">
      <ul class="list-unstyled mb-0">
        <% @projects.each do |project| %>
          <li><%= project.title %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
